.page {
  background-color: #E1D4C9;
  margin: 20px auto 40px auto;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
  font-family: var(--font, sans-serif);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  font-size: inherit;
  font-style: inherit;
  font-weight: 600;
  line-height: 150%;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.header__links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.header__links-list-item{
  color: var(--text-color);
  text-decoration: none;
}

.menu-page__item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.menu-page__item span {
  color: var(--text-color);
  text-decoration: none;
}

.about {
  display: grid;
  inline-size: 100%;
  gap: 40px;
  margin: 100px 0;
}

.about__text {
  align-self: stretch;
  color: var(--text-dark, #403F3D);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.text__accent {
  color: var(--text-accent, #B0907A);
  font-style: italic;
}

.about__images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-block-size: 1060px;
}

.about__images-column-1 {
  display: grid;
  gap: 40px;
  grid-template-rows: 590px 430px;
}

.about__images-column-2 {
  display: grid;
  gap: 40px;
  grid-template-rows: 430px 590px;
}

.card {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}